.App {
  width: 750px;
  display: block;
  margin: 0 auto;
}

.task-wrapper {
  margin-top: 15px;
  background-color: #d8a9ff;
  border: solid 1px firebrick;
}

.edit-modal {
  display: none;
}
.active {
  display: block;
  margin-top: 5px;
}
